html, body {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.frame {
  max-width: 40rem; max-height: 40rem;
  width: 100vw; height: 100vw;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
	box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	overflow: hidden;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  background-color: #222;

  &:hover {
    .rect {
      animation-play-state: paused;
    }
  }
}

.rect-group {
  width: 50%; height: 50%;
  position: relative;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.rect {
  background-color: #222;
  border-width: 1px;
  border-style: solid;
  border: 1px solid rgb(86, 86, 86);
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

@for $i from 1 through 20 {
  .rect-#{$i} {
    $color: 70 + $i * 8;
    border-color: rgb($color, $color, $color);
    width: (100 - ($i - 1) * 5) * 1%;
    height: (100 - ($i - 1) * 5) * 1%;
    animation: rotate 2s ease-in-out ($i / 30) + s alternate infinite;
  }
}

@keyframes rotate {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}