html, body {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.frame {
  --frame: min(40rem, 100vw);
  width: var(--frame);
  height: var(--frame);
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
	box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  background-color: #27ae60;
  color: #fff;
}

.circle {
  width: 50%; height: 50%;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

@for $i from 1 through 6 {
  @keyframes circleAnimation-#{$i} {
    0% {
      transform: translate(-50%, -50%) scale(1 - ($i - 1) / 7) rotate(($i - 1) * 5 + deg);
    }
    100% {
      transform: translate(-50%, -50%) scale(1 - ($i - 1) / 22) rotate(($i - 1) * 10 + 360 + deg);
    }
  }

  .circle-#{$i} {
    animation: circleAnimation-#{$i} 6s ease-in-out alternate infinite;
    
    .dot {
      opacity: (1 - ($i - 1) / 10);
    }
  }
}

.dot {
  background-color: #fff;
  border-radius: 50%;
  width: 5%; height: 5%;
  position: absolute;
  top: 50%; left: 50%;
}

@for $i from 1 through 12 {
  .dot-#{$i} {
    transform: translate(-50%, -50%) rotate(($i - 1) * 30deg) translateY(calc(var(--frame) * -0.25));
  }
}