html, body {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.frame {
  width: min(40rem, 100vw); height: min(40rem, 100vw);
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
	box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	overflow: hidden;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  background-color: #de4738;
  display: flex; flex-wrap: wrap;
}

.pixel {
  width: 5%; height: 5%;
}
.ip {
  display: none;
  
  &:checked ~ .lbl {
    background-color: #fff;
    border-color: #fff;
  }
}
.lbl {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #e24e3f;
  width: 100%; height: 100%;

  &:hover {
    background-color: #ec5142;
  }
}