html, body {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.frame {
  --frame: min(40rem, 100vw);

  width: var(--frame); height: var(--frame);
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
	box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	overflow: hidden;

  background-color: #e47512;
  perspective: calc(var(--frame) * 2.5);
}

.cube {
  --size: calc(var(--frame) * 0.5);
  --half: calc(var(--size) / 2);

  cursor: pointer;
  width: var(--size); height: var(--size);
  position: absolute;
  left: 50%; top: 50%;
  transform-style: preserve-3d;
  transform: translate3d(-50%, -50%, calc(var(--half) * -1)) rotateX(70deg) rotateZ(-45deg);
  transition: transform 1s ease-in-out;

  &:hover {
    transform: translate3d(-50%, -50%, calc(var(--half) * -1)) rotateX(-120deg) rotateZ(135deg);
  }
}

.face {
  width: 100%; height: 100%;
  position: absolute;

  &-top {
    background-color: #eee;
    transform: rotateX(90deg) translateZ(var(--half));
  }

  &-bot {
    background-color: #ddd;
    transform: rotateX(-90deg) translateZ(var(--half));
  }

  &-left {
    background-color: #eee;
    transform: rotateY(-90deg) translateZ(var(--half));
  }

  &-right {
    background-color: #ddd;
    transform: rotateY(90deg) translateZ(var(--half));
  }

  &-front {
    background-color: #fff;
    transform: translateZ(var(--half));
  }

  &-back {
    background-color: #ccc;
    transform: rotateX(180deg) translateZ(var(--half));
  }
}


