@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  -webkit-box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 5px;
  background-color: #264057;
  color: #666;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.panel {
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 300px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  overflow: hidden;
}
.panel__header {
  background-color: #5f98cd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 20px;
}
.panel__body {
  width: 100%;
  height: 240px;
  position: relative;
  overflow: hidden;
}

.btn-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 29px;
  height: 15px;
  position: relative;
  cursor: pointer;
}
.btn-menu__bar {
  background-color: #b2daff;
  border-radius: 3px;
  height: 3px;
  -webkit-transition: background-color 0.2s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: background-color 0.2s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: background-color 0.2s ease-in-out, transform 0.4s ease-in-out;
  transition: background-color 0.2s ease-in-out, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.btn-menu__bar--top {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  width: 20px;
}
.btn-menu__bar--bottom {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  width: 29px;
}
.btn-menu__circle {
  background-color: #b2daff;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  position: absolute;
  right: 0;
  top: -1px;
  -webkit-transition: background-color 0.2s ease-in-out, opacity 0.4s ease-in-out;
  transition: background-color 0.2s ease-in-out, opacity 0.4s ease-in-out;
}
.btn-menu:hover .btn-menu__bar {
  background-color: #fff;
}
.btn-menu:hover .btn-menu__circle {
  background-color: #fff;
}

.title {
  color: #fff;
  font-size: 0.925rem;
  font-weight: 600;
}

.search-wrap {
  position: relative;
}
.search-wrap__input {
  border: 0 none;
  border-radius: 20px;
  color: #666;
  font-size: 0.8125rem;
  width: 230px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: 2rem;
  padding: 0 15px;
  pointer-events: none;
  -webkit-transform: translate3d(15px, -50%, 0);
          transform: translate3d(15px, -50%, 0);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.search-wrap__input:focus {
  outline: none;
}
.search-wrap__input.active {
  pointer-events: auto;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  opacity: 1;
}
.search-wrap__btn i {
  color: #b2daff;
  font-size: 1.25rem;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.search-wrap__btn:hover i {
  color: #fff;
}

.tl-line {
  background-color: #ebebeb;
  width: 3px;
  position: absolute;
  left: 27px;
  top: 0;
  bottom: 0;
}

.notification {
  margin: 25px 20px 0px 43px;
  position: relative;
  cursor: pointer;
}
.notification:nth-child(2) {
  -webkit-animation: reveal 0.5s ease-out 0.4s both;
          animation: reveal 0.5s ease-out 0.4s both;
}
.notification:nth-child(3) {
  -webkit-animation: reveal 0.5s ease-out 0.6s both;
          animation: reveal 0.5s ease-out 0.6s both;
}
.notification:nth-child(4) {
  -webkit-animation: reveal 0.5s ease-out 0.8s both;
          animation: reveal 0.5s ease-out 0.8s both;
}
.notification__content .time {
  display: block;
  font-size: 0.7rem;
  line-height: 0.7rem;
  margin-bottom: 2px;
}
.notification__content .text {
  font-size: 0.925rem;
}
.notification__content .text strong {
  font-weight: 600;
}
.notification:before {
  content: "";
  display: block;
  background-color: #fff;
  border: 2px solid #5f98cd;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 3px #fff;
          box-shadow: 0 0 0 3px #fff;
  width: 11px;
  height: 11px;
  position: absolute;
  left: -20px;
  top: 0;
}
.notification:hover {
  color: #5f98cd;
}

.menu {
  background-color: #43627d;
  border-radius: 3px;
  width: 170px;
  height: 270px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate3d(20px, -50%, 0);
          transform: translate3d(20px, -50%, 0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  z-index: -1;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 10px 0;
}
.menu__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #93b2cd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  padding-left: 17px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu__item:hover {
  color: #fff;
  background-color: #385269;
}
.menu__icon {
  display: inline-block;
  margin-right: 8px;
  margin-top: 1px;
}

.panel.open {
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
}
.panel.open + .menu {
  -webkit-box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
}
.panel.open .btn-menu__bar--top {
  width: 29px;
  -webkit-transform: rotate(45deg) translateY(-5.5px);
          transform: rotate(45deg) translateY(-5.5px);
}
.panel.open .btn-menu__bar--bottom {
  -webkit-transform: rotate(-45deg) translateY(5.5px);
          transform: rotate(-45deg) translateY(5.5px);
}
.panel.open .btn-menu__circle {
  opacity: 0;
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3rem, 0);
            transform: translate3d(0, 3rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3rem, 0);
            transform: translate3d(0, 3rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}