@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

html, body {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.frame {
  max-width: 40rem; max-height: 40rem;
  width: 100vw; height: 100vw;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
	box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	overflow: hidden;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  background-color: #5ca4ea;
  color: #fff;
}

.center {
  width: 45%; height: 15%;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  all: unset;
  cursor: pointer;
  display: block;
  width: 100%; height: 100%;
  position: relative;

  span {
    display: block;
    font-size: min(1.8rem, 4.5vw);
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.1rem;
    width: 100%;
    position: absolute;
    left: 0; top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    .bg-line {
      fill: #4f95da;
    }

    .hl-line {
      stroke-dashoffset: -480;
    }
  }
}

.bd {
  fill: none;
}

.bg-line {
  fill: #5ca4ea;
  stroke: #91c9ff;
  transition: all 0.8s ease-in-out;
}

.hl-line {
  fill: none;
  stroke: #fff;
  stroke-dasharray: 40 480;
  stroke-dashoffset: 40;
  transition: stroke-dashoffset 0.8s ease-in-out;
}