html, body {
  font-size: 62.5%;
}

.frame {
  width: 40rem; height: 40rem;
  position: absolute;
  top: 50%; left: 50%;
  margin-top: -20rem;
  margin-left: -20rem;
  border-radius: 2px;
	box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	overflow: hidden;

  background-color: #75c1e8;
}

.sun {
  background-color: #ffd93c;
  border-radius: 50%;
  width: 6.4rem; height: 6.4rem;
  margin-left: 5.2rem; margin-top: 4rem;
  animation: move-right 60s linear infinite alternate both;
}

.cloud {
  fill: #fff;
  position: absolute;
  z-index: 5;
  animation: move-left 60s linear infinite alternate both;

  &-l {
    width: 15rem; height: 7rem;
    left: 28rem; top: 12rem;
  }
  &-m {
    width: 11.4rem; height: 5.7rem;
    left: 5rem; top: 9rem;
  }
  &-s {
    width: 6.6rem; height: 3rem;
    left: 20rem; top: 7.5rem;
  }
}

@keyframes move-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-300%); }
}

@keyframes move-right {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}