html, body {
  font-size: 62.5%;
}

.frame {
  width: 40rem;
  height: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20rem;
  margin-left: -20rem;
  overflow: hidden;
  background-color: #dd3c54;
  border-radius: 2px;
  -webkit-box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.bell {
  fill: #fff;
  width: 5rem;
  height: 5.4rem;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-animation: shake 2.5s infinite;
          animation: shake 2.5s infinite;
}

.wave {
  width: 8rem;
  height: 6rem;
}
.wave-svg {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  width: 1.4rem;
  height: 6rem;
  position: absolute;
  top: 0;
  -webkit-animation: wave-l-1 2.5s ease-out infinite both;
          animation: wave-l-1 2.5s ease-out infinite both;
}
.wave-l {
  left: 0;
}
.wave-r {
  right: 0;
}
.wave-1 .wave-l {
  -webkit-animation-name: wave-l-1;
          animation-name: wave-l-1;
}
.wave-1 .wave-r {
  -webkit-animation-name: wave-r-1;
          animation-name: wave-r-1;
}
.wave-2 .wave-l {
  -webkit-animation-name: wave-l-2;
          animation-name: wave-l-2;
}
.wave-2 .wave-r {
  -webkit-animation-name: wave-r-2;
          animation-name: wave-r-2;
}
.wave-3 .wave-l {
  -webkit-animation-name: wave-l-3;
          animation-name: wave-l-3;
}
.wave-3 .wave-r {
  -webkit-animation-name: wave-r-3;
          animation-name: wave-r-3;
}

@-webkit-keyframes wave-l-1 {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
  }
  50%, 100% {
    opacity: 0;
    -webkit-transform: translate3d(-6rem, 0, 0) scale(2);
            transform: translate3d(-6rem, 0, 0) scale(2);
  }
}

@keyframes wave-l-1 {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
  }
  50%, 100% {
    opacity: 0;
    -webkit-transform: translate3d(-6rem, 0, 0) scale(2);
            transform: translate3d(-6rem, 0, 0) scale(2);
  }
}
@-webkit-keyframes wave-r-1 {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
  }
  50%, 100% {
    opacity: 0;
    -webkit-transform: translate3d(6rem, 0, 0) scale(2);
            transform: translate3d(6rem, 0, 0) scale(2);
  }
}
@keyframes wave-r-1 {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
  }
  50%, 100% {
    opacity: 0;
    -webkit-transform: translate3d(6rem, 0, 0) scale(2);
            transform: translate3d(6rem, 0, 0) scale(2);
  }
}
@-webkit-keyframes wave-l-2 {
  0%, 19% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
  }
  70%, 100% {
    opacity: 0;
    -webkit-transform: translate3d(-6rem, 0, 0) scale(2);
            transform: translate3d(-6rem, 0, 0) scale(2);
  }
}
@keyframes wave-l-2 {
  0%, 19% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
  }
  70%, 100% {
    opacity: 0;
    -webkit-transform: translate3d(-6rem, 0, 0) scale(2);
            transform: translate3d(-6rem, 0, 0) scale(2);
  }
}
@-webkit-keyframes wave-r-2 {
  0%, 19% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
  }
  70%, 100% {
    opacity: 0;
    -webkit-transform: translate3d(6rem, 0, 0) scale(2);
            transform: translate3d(6rem, 0, 0) scale(2);
  }
}
@keyframes wave-r-2 {
  0%, 19% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
  }
  70%, 100% {
    opacity: 0;
    -webkit-transform: translate3d(6rem, 0, 0) scale(2);
            transform: translate3d(6rem, 0, 0) scale(2);
  }
}
@-webkit-keyframes wave-l-3 {
  0%, 39% {
    opacity: 0;
  }
  40% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
  }
  90%, 100% {
    opacity: 0;
    -webkit-transform: translate3d(-6rem, 0, 0) scale(2);
            transform: translate3d(-6rem, 0, 0) scale(2);
  }
}
@keyframes wave-l-3 {
  0%, 39% {
    opacity: 0;
  }
  40% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
  }
  90%, 100% {
    opacity: 0;
    -webkit-transform: translate3d(-6rem, 0, 0) scale(2);
            transform: translate3d(-6rem, 0, 0) scale(2);
  }
}
@-webkit-keyframes wave-r-3 {
  0%, 39% {
    opacity: 0;
  }
  40% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
  }
  90%, 100% {
    opacity: 0;
    -webkit-transform: translate3d(6rem, 0, 0) scale(2);
            transform: translate3d(6rem, 0, 0) scale(2);
  }
}
@keyframes wave-r-3 {
  0%, 39% {
    opacity: 0;
  }
  40% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
  }
  90%, 100% {
    opacity: 0;
    -webkit-transform: translate3d(6rem, 0, 0) scale(2);
            transform: translate3d(6rem, 0, 0) scale(2);
  }
}
@-webkit-keyframes shake {
  0%, 50%, 100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0);
            transform: translate3d(-50%, -50%, 0) rotate(0);
  }
  5%, 10%, 15%, 20%, 25%, 30%, 35%, 40% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(6deg);
            transform: translate3d(-50%, -50%, 0) rotate(6deg);
  }
  7.5%, 12.5%, 17.5%, 22.5%, 27.5%, 32.5%, 37.5%, 42.5% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(-6deg);
            transform: translate3d(-50%, -50%, 0) rotate(-6deg);
  }
  45% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(4deg);
            transform: translate3d(-50%, -50%, 0) rotate(4deg);
  }
  47.5% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(-2deg);
            transform: translate3d(-50%, -50%, 0) rotate(-2deg);
  }
}
@keyframes shake {
  0%, 50%, 100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0);
            transform: translate3d(-50%, -50%, 0) rotate(0);
  }
  5%, 10%, 15%, 20%, 25%, 30%, 35%, 40% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(6deg);
            transform: translate3d(-50%, -50%, 0) rotate(6deg);
  }
  7.5%, 12.5%, 17.5%, 22.5%, 27.5%, 32.5%, 37.5%, 42.5% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(-6deg);
            transform: translate3d(-50%, -50%, 0) rotate(-6deg);
  }
  45% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(4deg);
            transform: translate3d(-50%, -50%, 0) rotate(4deg);
  }
  47.5% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(-2deg);
            transform: translate3d(-50%, -50%, 0) rotate(-2deg);
  }
}