.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  // my code
  background: #43389f;
  background: linear-gradient(45deg, #43389f 0%, #4ec6ca 100%);
  border-radius: 6px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  // my code
  color: white;
  font-family: 'Courier New';
}

.numbers {
  width: 200px;
  height: 100px;
  
  * {
    position: absolute;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

.one {
  background-color: #fff;
  border-radius: 3px;
  left: 0;

  &.one-1 {
    width: 20px;
    height: 40px;
    transform: translateX(-16px) rotate(50deg);
    z-index: 1;
  }
  &.one-2 {
    width: 24px;
    height: 100px;
    z-index: 2;
  }
}

.zero {
  border: 25px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  width: 100px;
  height: 100px;

  &.first {
    left: 16px;
    z-index: 1;
  }
  &.second {
    left: 100px;
    z-index: 0;
  }
}

.text {
  display: block;
  font-weight: bold;
  text-align: center;

  &.big {
    font-size: 5.125rem;
    line-height: 0.8;
  }
  &.small {
    font-size: 1.525rem;
    line-height: 0.8;
  }
}