html, body {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.frame {
  --frame: min(40rem, 100vw);
  width: var(--frame);
  height: var(--frame);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 2px;
  -webkit-box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background-color: #e47512;
  -webkit-perspective: calc(var(--frame) * 2.5);
          perspective: calc(var(--frame) * 2.5);
}

.cube {
  --size: calc(var(--frame) * 0.5);
  --half: calc(var(--size) / 2);
  cursor: pointer;
  width: var(--size);
  height: var(--size);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(-50%, -50%, calc(var(--half) * -1)) rotateX(70deg) rotateZ(-45deg);
          transform: translate3d(-50%, -50%, calc(var(--half) * -1)) rotateX(70deg) rotateZ(-45deg);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
.cube:hover {
  -webkit-transform: translate3d(-50%, -50%, calc(var(--half) * -1)) rotateX(-120deg) rotateZ(135deg);
          transform: translate3d(-50%, -50%, calc(var(--half) * -1)) rotateX(-120deg) rotateZ(135deg);
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
}
.face-top {
  background-color: #eee;
  -webkit-transform: rotateX(90deg) translateZ(var(--half));
          transform: rotateX(90deg) translateZ(var(--half));
}
.face-bot {
  background-color: #ddd;
  -webkit-transform: rotateX(-90deg) translateZ(var(--half));
          transform: rotateX(-90deg) translateZ(var(--half));
}
.face-left {
  background-color: #eee;
  -webkit-transform: rotateY(-90deg) translateZ(var(--half));
          transform: rotateY(-90deg) translateZ(var(--half));
}
.face-right {
  background-color: #ddd;
  -webkit-transform: rotateY(90deg) translateZ(var(--half));
          transform: rotateY(90deg) translateZ(var(--half));
}
.face-front {
  background-color: #fff;
  -webkit-transform: translateZ(var(--half));
          transform: translateZ(var(--half));
}
.face-back {
  background-color: #ccc;
  -webkit-transform: rotateX(180deg) translateZ(var(--half));
          transform: rotateX(180deg) translateZ(var(--half));
}