html, body {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.frame {
  --frame: min(40rem, 100vw);
  width: var(--frame);
  height: var(--frame);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 2px;
  -webkit-box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #27ae60;
  color: #fff;
}

.circle {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes circleAnimation-1 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1) rotate(0deg);
            transform: translate(-50%, -50%) scale(1) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1) rotate(360deg);
            transform: translate(-50%, -50%) scale(1) rotate(360deg);
  }
}

@keyframes circleAnimation-1 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1) rotate(0deg);
            transform: translate(-50%, -50%) scale(1) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1) rotate(360deg);
            transform: translate(-50%, -50%) scale(1) rotate(360deg);
  }
}
.circle-1 {
  -webkit-animation: circleAnimation-1 6s ease-in-out alternate infinite;
          animation: circleAnimation-1 6s ease-in-out alternate infinite;
}
.circle-1 .dot {
  opacity: 1;
}

@-webkit-keyframes circleAnimation-2 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.8571428571) rotate(5deg);
            transform: translate(-50%, -50%) scale(0.8571428571) rotate(5deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.9545454545) rotate(370deg);
            transform: translate(-50%, -50%) scale(0.9545454545) rotate(370deg);
  }
}

@keyframes circleAnimation-2 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.8571428571) rotate(5deg);
            transform: translate(-50%, -50%) scale(0.8571428571) rotate(5deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.9545454545) rotate(370deg);
            transform: translate(-50%, -50%) scale(0.9545454545) rotate(370deg);
  }
}
.circle-2 {
  -webkit-animation: circleAnimation-2 6s ease-in-out alternate infinite;
          animation: circleAnimation-2 6s ease-in-out alternate infinite;
}
.circle-2 .dot {
  opacity: 0.9;
}

@-webkit-keyframes circleAnimation-3 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.7142857143) rotate(10deg);
            transform: translate(-50%, -50%) scale(0.7142857143) rotate(10deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.9090909091) rotate(380deg);
            transform: translate(-50%, -50%) scale(0.9090909091) rotate(380deg);
  }
}

@keyframes circleAnimation-3 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.7142857143) rotate(10deg);
            transform: translate(-50%, -50%) scale(0.7142857143) rotate(10deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.9090909091) rotate(380deg);
            transform: translate(-50%, -50%) scale(0.9090909091) rotate(380deg);
  }
}
.circle-3 {
  -webkit-animation: circleAnimation-3 6s ease-in-out alternate infinite;
          animation: circleAnimation-3 6s ease-in-out alternate infinite;
}
.circle-3 .dot {
  opacity: 0.8;
}

@-webkit-keyframes circleAnimation-4 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.5714285714) rotate(15deg);
            transform: translate(-50%, -50%) scale(0.5714285714) rotate(15deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.8636363636) rotate(390deg);
            transform: translate(-50%, -50%) scale(0.8636363636) rotate(390deg);
  }
}

@keyframes circleAnimation-4 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.5714285714) rotate(15deg);
            transform: translate(-50%, -50%) scale(0.5714285714) rotate(15deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.8636363636) rotate(390deg);
            transform: translate(-50%, -50%) scale(0.8636363636) rotate(390deg);
  }
}
.circle-4 {
  -webkit-animation: circleAnimation-4 6s ease-in-out alternate infinite;
          animation: circleAnimation-4 6s ease-in-out alternate infinite;
}
.circle-4 .dot {
  opacity: 0.7;
}

@-webkit-keyframes circleAnimation-5 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.4285714286) rotate(20deg);
            transform: translate(-50%, -50%) scale(0.4285714286) rotate(20deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.8181818182) rotate(400deg);
            transform: translate(-50%, -50%) scale(0.8181818182) rotate(400deg);
  }
}

@keyframes circleAnimation-5 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.4285714286) rotate(20deg);
            transform: translate(-50%, -50%) scale(0.4285714286) rotate(20deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.8181818182) rotate(400deg);
            transform: translate(-50%, -50%) scale(0.8181818182) rotate(400deg);
  }
}
.circle-5 {
  -webkit-animation: circleAnimation-5 6s ease-in-out alternate infinite;
          animation: circleAnimation-5 6s ease-in-out alternate infinite;
}
.circle-5 .dot {
  opacity: 0.6;
}

@-webkit-keyframes circleAnimation-6 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.2857142857) rotate(25deg);
            transform: translate(-50%, -50%) scale(0.2857142857) rotate(25deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.7727272727) rotate(410deg);
            transform: translate(-50%, -50%) scale(0.7727272727) rotate(410deg);
  }
}

@keyframes circleAnimation-6 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.2857142857) rotate(25deg);
            transform: translate(-50%, -50%) scale(0.2857142857) rotate(25deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.7727272727) rotate(410deg);
            transform: translate(-50%, -50%) scale(0.7727272727) rotate(410deg);
  }
}
.circle-6 {
  -webkit-animation: circleAnimation-6 6s ease-in-out alternate infinite;
          animation: circleAnimation-6 6s ease-in-out alternate infinite;
}
.circle-6 .dot {
  opacity: 0.5;
}

.dot {
  background-color: #fff;
  border-radius: 50%;
  width: 5%;
  height: 5%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.dot-1 {
  -webkit-transform: translate(-50%, -50%) rotate(0deg) translateY(calc(var(--frame) * -0.25));
          transform: translate(-50%, -50%) rotate(0deg) translateY(calc(var(--frame) * -0.25));
}

.dot-2 {
  -webkit-transform: translate(-50%, -50%) rotate(30deg) translateY(calc(var(--frame) * -0.25));
          transform: translate(-50%, -50%) rotate(30deg) translateY(calc(var(--frame) * -0.25));
}

.dot-3 {
  -webkit-transform: translate(-50%, -50%) rotate(60deg) translateY(calc(var(--frame) * -0.25));
          transform: translate(-50%, -50%) rotate(60deg) translateY(calc(var(--frame) * -0.25));
}

.dot-4 {
  -webkit-transform: translate(-50%, -50%) rotate(90deg) translateY(calc(var(--frame) * -0.25));
          transform: translate(-50%, -50%) rotate(90deg) translateY(calc(var(--frame) * -0.25));
}

.dot-5 {
  -webkit-transform: translate(-50%, -50%) rotate(120deg) translateY(calc(var(--frame) * -0.25));
          transform: translate(-50%, -50%) rotate(120deg) translateY(calc(var(--frame) * -0.25));
}

.dot-6 {
  -webkit-transform: translate(-50%, -50%) rotate(150deg) translateY(calc(var(--frame) * -0.25));
          transform: translate(-50%, -50%) rotate(150deg) translateY(calc(var(--frame) * -0.25));
}

.dot-7 {
  -webkit-transform: translate(-50%, -50%) rotate(180deg) translateY(calc(var(--frame) * -0.25));
          transform: translate(-50%, -50%) rotate(180deg) translateY(calc(var(--frame) * -0.25));
}

.dot-8 {
  -webkit-transform: translate(-50%, -50%) rotate(210deg) translateY(calc(var(--frame) * -0.25));
          transform: translate(-50%, -50%) rotate(210deg) translateY(calc(var(--frame) * -0.25));
}

.dot-9 {
  -webkit-transform: translate(-50%, -50%) rotate(240deg) translateY(calc(var(--frame) * -0.25));
          transform: translate(-50%, -50%) rotate(240deg) translateY(calc(var(--frame) * -0.25));
}

.dot-10 {
  -webkit-transform: translate(-50%, -50%) rotate(270deg) translateY(calc(var(--frame) * -0.25));
          transform: translate(-50%, -50%) rotate(270deg) translateY(calc(var(--frame) * -0.25));
}

.dot-11 {
  -webkit-transform: translate(-50%, -50%) rotate(300deg) translateY(calc(var(--frame) * -0.25));
          transform: translate(-50%, -50%) rotate(300deg) translateY(calc(var(--frame) * -0.25));
}

.dot-12 {
  -webkit-transform: translate(-50%, -50%) rotate(330deg) translateY(calc(var(--frame) * -0.25));
          transform: translate(-50%, -50%) rotate(330deg) translateY(calc(var(--frame) * -0.25));
}