html, body {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.frame {
  max-width: 40rem;
  max-height: 40rem;
  width: 100vw;
  height: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 2px;
  -webkit-box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
}
.frame:hover .rect {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.rect-group {
  width: 50%;
  height: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.rect {
  background-color: #222;
  border-width: 1px;
  border-style: solid;
  border: 1px solid rgb(86, 86, 86);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.rect-1 {
  border-color: rgb(78, 78, 78);
  width: 100%;
  height: 100%;
  -webkit-animation: rotate 2s ease-in-out 0.0333333333s alternate infinite;
          animation: rotate 2s ease-in-out 0.0333333333s alternate infinite;
}

.rect-2 {
  border-color: rgb(86, 86, 86);
  width: 95%;
  height: 95%;
  -webkit-animation: rotate 2s ease-in-out 0.0666666667s alternate infinite;
          animation: rotate 2s ease-in-out 0.0666666667s alternate infinite;
}

.rect-3 {
  border-color: rgb(94, 94, 94);
  width: 90%;
  height: 90%;
  -webkit-animation: rotate 2s ease-in-out 0.1s alternate infinite;
          animation: rotate 2s ease-in-out 0.1s alternate infinite;
}

.rect-4 {
  border-color: rgb(102, 102, 102);
  width: 85%;
  height: 85%;
  -webkit-animation: rotate 2s ease-in-out 0.1333333333s alternate infinite;
          animation: rotate 2s ease-in-out 0.1333333333s alternate infinite;
}

.rect-5 {
  border-color: rgb(110, 110, 110);
  width: 80%;
  height: 80%;
  -webkit-animation: rotate 2s ease-in-out 0.1666666667s alternate infinite;
          animation: rotate 2s ease-in-out 0.1666666667s alternate infinite;
}

.rect-6 {
  border-color: rgb(118, 118, 118);
  width: 75%;
  height: 75%;
  -webkit-animation: rotate 2s ease-in-out 0.2s alternate infinite;
          animation: rotate 2s ease-in-out 0.2s alternate infinite;
}

.rect-7 {
  border-color: rgb(126, 126, 126);
  width: 70%;
  height: 70%;
  -webkit-animation: rotate 2s ease-in-out 0.2333333333s alternate infinite;
          animation: rotate 2s ease-in-out 0.2333333333s alternate infinite;
}

.rect-8 {
  border-color: rgb(134, 134, 134);
  width: 65%;
  height: 65%;
  -webkit-animation: rotate 2s ease-in-out 0.2666666667s alternate infinite;
          animation: rotate 2s ease-in-out 0.2666666667s alternate infinite;
}

.rect-9 {
  border-color: rgb(142, 142, 142);
  width: 60%;
  height: 60%;
  -webkit-animation: rotate 2s ease-in-out 0.3s alternate infinite;
          animation: rotate 2s ease-in-out 0.3s alternate infinite;
}

.rect-10 {
  border-color: rgb(150, 150, 150);
  width: 55%;
  height: 55%;
  -webkit-animation: rotate 2s ease-in-out 0.3333333333s alternate infinite;
          animation: rotate 2s ease-in-out 0.3333333333s alternate infinite;
}

.rect-11 {
  border-color: rgb(158, 158, 158);
  width: 50%;
  height: 50%;
  -webkit-animation: rotate 2s ease-in-out 0.3666666667s alternate infinite;
          animation: rotate 2s ease-in-out 0.3666666667s alternate infinite;
}

.rect-12 {
  border-color: rgb(166, 166, 166);
  width: 45%;
  height: 45%;
  -webkit-animation: rotate 2s ease-in-out 0.4s alternate infinite;
          animation: rotate 2s ease-in-out 0.4s alternate infinite;
}

.rect-13 {
  border-color: rgb(174, 174, 174);
  width: 40%;
  height: 40%;
  -webkit-animation: rotate 2s ease-in-out 0.4333333333s alternate infinite;
          animation: rotate 2s ease-in-out 0.4333333333s alternate infinite;
}

.rect-14 {
  border-color: rgb(182, 182, 182);
  width: 35%;
  height: 35%;
  -webkit-animation: rotate 2s ease-in-out 0.4666666667s alternate infinite;
          animation: rotate 2s ease-in-out 0.4666666667s alternate infinite;
}

.rect-15 {
  border-color: rgb(190, 190, 190);
  width: 30%;
  height: 30%;
  -webkit-animation: rotate 2s ease-in-out 0.5s alternate infinite;
          animation: rotate 2s ease-in-out 0.5s alternate infinite;
}

.rect-16 {
  border-color: rgb(198, 198, 198);
  width: 25%;
  height: 25%;
  -webkit-animation: rotate 2s ease-in-out 0.5333333333s alternate infinite;
          animation: rotate 2s ease-in-out 0.5333333333s alternate infinite;
}

.rect-17 {
  border-color: rgb(206, 206, 206);
  width: 20%;
  height: 20%;
  -webkit-animation: rotate 2s ease-in-out 0.5666666667s alternate infinite;
          animation: rotate 2s ease-in-out 0.5666666667s alternate infinite;
}

.rect-18 {
  border-color: rgb(214, 214, 214);
  width: 15%;
  height: 15%;
  -webkit-animation: rotate 2s ease-in-out 0.6s alternate infinite;
          animation: rotate 2s ease-in-out 0.6s alternate infinite;
}

.rect-19 {
  border-color: rgb(222, 222, 222);
  width: 10%;
  height: 10%;
  -webkit-animation: rotate 2s ease-in-out 0.6333333333s alternate infinite;
          animation: rotate 2s ease-in-out 0.6333333333s alternate infinite;
}

.rect-20 {
  border-color: rgb(230, 230, 230);
  width: 5%;
  height: 5%;
  -webkit-animation: rotate 2s ease-in-out 0.6666666667s alternate infinite;
          animation: rotate 2s ease-in-out 0.6666666667s alternate infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}