html, body {
  font-size: 62.5%;
}

.frame {
  width: 40rem;
  height: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20rem;
  margin-left: -20rem;
  overflow: hidden;
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}
.frame input, .frame label {
  cursor: pointer;
  position: relative;
  z-index: 2;
}

input[type=radio] {
  display: none;
}

.circle {
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 5rem;
  height: 5rem;
}

.active {
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  -webkit-transform: translate(calc(-50% - 6rem), -50%);
          transform: translate(calc(-50% - 6rem), -50%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.bg [class^=bg-] {
  width: 33.3333333333%;
  height: 100%;
}
.bg-1 {
  background-color: #9b59b6;
}
.bg-2 {
  background-color: #3498db;
}
.bg-3 {
  background-color: #1abc9c;
}

#c1:checked ~ .active {
  -webkit-transform: translate(calc(-50% - 6rem), -50%);
          transform: translate(calc(-50% - 6rem), -50%);
}

#c2:checked ~ .active {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#c3:checked ~ .active {
  -webkit-transform: translate(calc(-50% + 6rem), -50%);
          transform: translate(calc(-50% + 6rem), -50%);
}

#c1:checked ~ .bg {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#c2:checked ~ .bg {
  -webkit-transform: translateX(-33.3333333333%);
          transform: translateX(-33.3333333333%);
}

#c3:checked ~ .bg {
  -webkit-transform: translateX(-66.6666666667%);
          transform: translateX(-66.6666666667%);
}